{% extends "content/page.html" %}

{% import 'macros/form.html' as form %}

{% block title %}
    {{ _("Edit Content") }}
{% endblock %}

{% block breadcrumb_content %}
    {{ super() }}
    <li><a href="{{ h.url_for('ckan_content.edit', type=type, id=id) }}">{{ _("Edit") }} {{ schema.label }}</a></li>
{% endblock %}

{%- block content %}
    {% block maintag %}<div class="main content-main">{% endblock %}
    <div id="content" class="content-page container">
        {% block main_content %}
            {% block flash %}{{ super() }}{% endblock %}
            {% block toolbar %}{{ super() }}{% endblock %}

            <div class="content-wrapper">
                {% block primary %}
                <div class="module-content">
                        <div class="d-flex justify-content-end">
                            <a class="btn btn-outline-primary me-2" href="{{ h.url_for('ckan_content.list') }}">
                                {{ _("Back") }}
                            </a>
                            <a class="btn btn-secondary me-2" href="{{ h.url_for('ckan_content.copy', type=type, id=id) }}">
                                <i class="fa fa-copy"></i> {{ _("Create Copy") }}
                            </a>
                            <a class="btn btn-secondary me-2" href="{{ h.url_for('ckan_content.content_revisions', type=type, id=id) }}">
                                {{ _("Revisions") }}
                            </a>
                            <a class="btn btn-secondary me-2" href="{{ h.url_for('ckan_content_translations.list', type=type, content_id=id) }}">
                                {{ _("Translations") }}
                            </a>
                            {% if h.content_has_draft(id) %}
                                <a class="btn btn-secondary me-2" href="{{ h.url_for('ckan_content_draft.edit', type=type, content_id=id) }}">
                                    {{ _("View Draft Content") }}
                                </a>
                            {% else %}
                                <a class="btn btn-secondary me-2" href="{{ h.url_for('ckan_content_draft.create', type=type, content_id=id) }}">
                                    {{ _("Create Draft Content") }}
                                </a>
                            {% endif %}
                            <a class="btn btn-primary" href="{{ h.url_for('ckan_content.read', type=type, id=id) }}">
                                {{ _("View") }}
                            </a>
                        </div>
                        {% snippet 'content/snippets/content_form.html', data=data, schema=schema, errors=errors %}
                    </div>
                {% endblock %}
            </div>
        {% endblock %}
        </div>
    </div>
{% endblock -%}


{%- block scripts %}
    {% asset 'content/content-admin-js' %}
    {{ super() }}
{% endblock -%}


{%- block styles %}
    {% asset 'content/content-admin-css' %}
    {{ super() }}
{% endblock %}
