{% extends "content/page.html" %}

{% block title %}
    {{ _("Content List") }}
{% endblock %}

{% block breadcrumb_content %}
    {{ super() }}
    <li><a href="{{ h.url_for('ckan_content.list') }}">{{ _("Content List") }}</a></li>
{% endblock %}

{%- block content %}
    {% block maintag %}<div class="main content-main">{% endblock %}
    <div id="content" class="content-page container">
        {% block main_content %}
            {% block flash %}{{ super() }}{% endblock %}
            {% block toolbar %}{{ super() }}{% endblock %}

            <div class="content-wrapper">
                {% block primary %}
                    <div class="module-content">                        
                        <div class="d-flex justify-content-end mb-3">
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#content-creation">
                                {{ _("Create") }}
                            </button>
                            <div class="modal fade" id="content-creation" tabindex="-1" aria-labelledby="content-creation" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">{{ _('Create Content') }}</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="row g-3">
                                                {% for content in h.get_schemas_types() %}
                                                    {% if h.check_access('create_ckan_content', {'type': content.type}) %}
                                                        <div class="col-12 col-md-6">
                                                            <a href="{{ h.url_for('ckan_content.create', type=content.type) }}" class="card h-100 text-decoration-none border-0 shadow-sm p-3">
                                                                <div class="d-flex align-items-center mb-2">
                                                                    <i class="fa fa-file-alt fa-2x text-primary me-2"></i>
                                                                    <span class="fw-bold fs-5">{{ content.label }}</span>
                                                                </div>
                                                                {% if content.description %}
                                                                    <div class="text-muted small">{{ content.description }}</div>
                                                                {% endif %}
                                                            </a>
                                                        </div>
                                                    {% endif %}
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        {% snippet 'content/snippets/search_form.html', types=types, type=type, q=q %}

                        <div class="table-responsive">
                            <table class="table table-striped table-bordered table-hover">
                                <thead class="table-light">
                                    <tr>
                                        <th scope="col">Title</th>
                                        <th scope="col">Alias</th>
                                        <th scope="col">Type</th>
                                        <th scope="col" style="cursor: pointer;">
                                            <a href="{{ h.url_for('ckan_content.list', q=q, type=type, sort='state', order='asc' if sort == 'state' and order == 'desc' else 'desc') }}" class="text-decoration-none text-dark">
                                                State
                                                {% if sort == 'state' %}
                                                    <i class="fa fa-sort-{{ 'asc' if order == 'asc' else 'desc' }}"></i>
                                                {% else %}
                                                    <i class="fa fa-sort"></i>
                                                {% endif %}
                                            </a>
                                        </th>
                                        <th scope="col" style="cursor: pointer;">
                                            <a href="{{ h.url_for('ckan_content.list', q=q, type=type, sort='modified', order='asc' if sort == 'modified' and order == 'desc' else 'desc') }}" class="text-decoration-none text-dark">
                                                Modified
                                                {% if sort == 'modified' %}
                                                    <i class="fa fa-sort-{{ 'asc' if order == 'asc' else 'desc' }}"></i>
                                                {% else %}
                                                    <i class="fa fa-sort"></i>
                                                {% endif %}
                                            </a>
                                        </th>
                                        <th scope="col">Actions</th>
                                    </tr>
                                </thead>
                                <tbody id="dataset-agreement-table-body">
                                    {% for item in page.items %}
                                        <tr>
                                            <td>
                                                <a href="{{ item.alias }}">
                                                    {{ item.title }}
                                                </a>
                                            </td>
                                            <td><a href="{{ item.alias }}" target="_blank">{{ item.alias }}</a></td>
                                            <td>{{ item.type }}</td>
                                            <td>
                                                {% if item.state != 'active' %}
                                                    <i class="fa fa-exclamation-triangle text-warning me-1"></i>
                                                {% endif %}
                                                {{ item.state }}
                                            </td>
                                            <td>{{ h.render_datetime(item.modified, with_hours=True) }}</td>
                                            <td>
                                                <a class="btn btn-outline-primary me-2" href="{{ h.url_for('ckan_content.read', type=item.type, id=item.id) }}">
                                                    <i class="fa fa-eye"></i>
                                                </a>
                                                {% if h.check_access('edit_ckan_content', {'type': item.type, 'id': item.id}) %}
                                                    <a class="btn btn-outline-primary btn-cell-edit me-2" href="{{ h.url_for('ckan_content.edit', type=item.type, id=item.id) }}">
                                                        <i class="fa fa-pencil"></i>
                                                    </a>
                                                {% endif %}
                                                {% if h.check_access('delete_ckan_content', {'type': item.type, 'id': item.id}) %}
                                                    <a class="btn btn-outline-danger btn-delete" href="{{ h.url_for('ckan_content.delete', type=item.type, id=item.id) }}">
                                                        <i class="fa fa-trash"></i>
                                                    </a>
                                                {% endif %}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>

                        {{ page.pager(q=q, type=type, sort=sort, order=order) }}
                    </div>
                {% endblock %}
            </div>
        {% endblock %}
        </div>
    </div>
{% endblock -%}

{%- block scripts %}
    {% asset 'content/content-admin-js' %}
    {{ super() }}
{% endblock -%}


{%- block styles %}
    {% asset 'content/content-admin-css' %}
    {{ super() }}
{% endblock %}
