{% extends "content/page.html" %}

{% block subtitle %}
    {{ content.title }}
{% endblock %}

{% block breadcrumb_content %}
    {{ super() }}
    <li><a href="{{ h.url_for('ckan_content.read', type=type ,id=id) }}">{{ content.title }}</a></li>
{% endblock %}

{%- block content %}
    {% block maintag %}<div class="main content-main">{% endblock %}
    <div id="content" class="content-{{ content.id }} content-page content-type-{{ content.type }} container">
        {% block main_content %}
            {% block flash %}{{ super() }}{% endblock %}
            {% block toolbar %}{{ super() }}{% endblock %}
        
            <article class="content-wrapper">
                {% block primary %}
                    {# ck-content class needed so the CKEditor styles are applied. #}
                    <div class="module-content ck-content">
                        {%- snippet 'content/snippets/draft_actions.html', type=type, id=id, content_id=content_id, is_draft=is_draft %}
                        {% if not is_draft %}
                            {%- snippet 'content/snippets/read_actions.html', type=type, id=id %}
                        {% endif %}
                        {%- set exclude_fields = [
                        'title',
                        'state',
                        ] -%}
        
                        <h1>
                            {{ content.title }}
                        </h1>
        
                        {%- for field in schema.content_fields -%}
                            {%- if field.field_name not in exclude_fields
                                    and field.display_snippet is not none -%}
                                {%- snippet 'content/snippets/display_field.html',
                                    field=field, data=content.data, schema=schema -%}
                            {%- endif -%}
                        {%- endfor -%}
                    </div>
                {% endblock %}
            </article>
        {% endblock %}
        </div>
    </div>
{% endblock -%}
